# Exclude environment files with secrets
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Skip IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# .git dir
.git/

# Skip personal rules
personal/*
!personal/README.md
!personal/example_rules.list


# Skip sftp files
sftp-config.json
.sftp-test.txt